In [1]:
import pandas as pd
import numpy as np
import json

## Wczytanie danych z morizona

In [2]:
morizon = pd.DataFrame(pd.read_json('morizon.json'))
morizon['serwis'] = 'morizon'

## Wczytanie danych z otodom

In [4]:
otodom = pd.DataFrame(pd.read_json('otodom.json'))
otodom['serwis'] = 'otodom'

## Wczytanie danych z gratki

In [5]:
gratka = pd.DataFrame(pd.read_json('gratka.json'))
gratka['serwis'] = 'gratka'

## Wczytanie danych z tromiasta

In [6]:
trojmiasto = pd.DataFrame(pd.read_json('trojmiasto_1.json'))
trojmiasto['serwis'] = 'trojmiasto'

## Łączenie danych

In [7]:
data = pd.concat([morizon, otodom, gratka, trojmiasto], sort=False, ignore_index =True)
data.sample(5)

,kuchnia,rynek,balkon,liczba_pieter_budynku,material-budowlany,rok_budowy,powierzchnia-uzytkowa,miasto,liczba_pokoi,wykonczenie,...,data_wyroznienia,data,data_aktualizacji,wyswietlenia,wyswietlen_na_liscie,dodatkowe_informacje,zdjecie,data_dostepne,powierzchnia_dzialki,ulica_i_nr
9196,0,NaN,NaN,8,NaN,2020.0,NaN,Gdynia,2,dowykończenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19874,NaN,NaN,NaN,17,NaN,2011.0,NaN,None,2,NaN,...,10 marca 2020,24 września 2019,16 kwietnia 2020,739,22 705,"Balkon, Winda, Siła, Internet, Kuchnia",True,None,None,None
17823,NaN,NaN,NaN,10,NaN,1974.0,NaN,None,3,NaN,...,None,24 lutego 2020,17 marca 2020,231,5 185,"Balkon, Miejsce parkingowe",True,None,None,None
25465,NaN,NaN,NaN,3,NaN,1953.0,NaN,None,3,NaN,...,25 kwietnia 2020,25 stycznia 2020,7 maja 2020,478,10 012,Kuchnia,True,25-01-2020,None,None
21846,NaN,NaN,NaN,4,NaN,0.0,NaN,None,2,NaN,...,None,4 maja 2020,4 maja 2020,60,2 839,Piwnica,True,None,None,None

## Sprawdzenie

In [8]:
data.shape[0] == (morizon.shape[0] + otodom.shape[0] + gratka.shape[0] + trojmiasto.shape[0])

True

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27813 entries, 0 to 27812
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   kuchnia                 11668 non-null  object
 1   rynek                   5356 non-null   object
 2   balkon                  5356 non-null   object
 3   liczba_pieter_budynku   27740 non-null  object
 4   material-budowlany      5356 non-null   object
 5   rok_budowy              26604 non-null  float64
 6   powierzchnia-uzytkowa   5356 non-null   float64
 7   miasto                  14750 non-null  object
 8   liczba_pokoi            27803 non-null  object
 9   wykonczenie             9570 non-null   object
 10  ulica                   5356 non-null   object
 11  pietro                  27621 non-null  object
 12  rodzaj_zabudowy         13004 non-null  object
 13  powierzchnia            27807 non-null  float64
 14  dzielnica               9335 non-null   object
 15  forma-wlasnosci         5356 non-null   object
 16  cena                    27813 non-null  float64
 17  adres                   27813 non-null  object
 18  serwis                  27813 non-null  object
 19  cena_za_metr            8965 non-null   float64
 20  oferta                  4991 non-null   object
 21  ogrzewanie              3727 non-null   object
 22  winda                   4991 non-null   float64
 23  material_budynku        2076 non-null   object
 24  czynsz                  4991 non-null   float64
 25  url                     13487 non-null  object
 26  tytul                   13487 non-null  object
 27  tresc                   13487 non-null  object
 28  nr_licencji_posrednika  3687 non-null   object
 29  typ_nieruchomosci       13487 non-null  object
 30  nr_oferty               8001 non-null   object
 31  typ_ogrzewania          8672 non-null   object
 32  id_ogloszenia           13487 non-null  float64
 33  data_wyroznienia        4997 non-null   object
 34  data                    13487 non-null  object
 35  data_aktualizacji       12969 non-null  object
 36  wyswietlenia            13487 non-null  object
 37  wyswietlen_na_liscie    13487 non-null  object
 38  dodatkowe_informacje    10949 non-null  object
 39  zdjecie                 13487 non-null  object
 40  data_dostepne           2448 non-null   object
 41  powierzchnia_dzialki    94 non-null     object
 42  ulica_i_nr              982 non-null    object
dtypes: float64(8), object(35)
memory usage: 9.1+ MB

## Zapisujemy dane

In [ ]:
#data.to_json (r'dane_z_4_portali.json', orient='columns')